# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
*.pyc

# IDE
.vscode/
.idea/

# Logs
*.log

# Environment variables
.env

# Dependency directories
node_modules/

# Distribution / packaging
dist/
build/
*.egg-info/

# Operating System Files
.DS_Store
Thumbs.db
